.content {
    height: 1000px;
    flex-direction:column;
    justify-content:right;
    align-items: center;
    background-image: url('https://media1.giphy.com/media/sQxjYIG40lpjkEDbARF/giphy.gif?cid=ecf05e473w1kkfiook5wp0hgy6b9mv7wvfpx967y1vchivin&rid=giphy.gif&ct=g');
    image-rendering: pixelated;
}
.parallax {
    background-image: url('marmol.jpg');
    background-attachment:unset;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    display:block;
    flex-direction:column;
    justify-content: right;
    align-items: center;
}


h1{
    font-size: 3rem;
    padding-top: 260px;
    margin: -10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-anchor: initial;
    
}
